<!DOCTYPE html>
<html>
  <title>Login</title>
  <body>
  <form name="MY Form"action="Login">
     <div class="login">
          <input type="text" placeholder="Username" id="username">  
          <input type="password" placeholder="password" id="password">  
          <input type="submit" value="Sign In">
      </div>
      <div class="shadow"></div>
  </form>
  </body>
</html>


/*
#userid<input type="text"name="text1">
 # <br>password<input typy="password" name="text2">
  #<br>
  #<input type="submit"name="button1"value="login">*/
